*.pyc
*~
bin/activate
bin/activate_this.py
bin/decklink-capture
bin/decklink-convert.sh
bin/easy_install
bin/easy_install-2.7
bin/eideticker-server
bin/pip
bin/python
downloads/mobile_tp4.zip
include/
lib/
src/videocapture/build/*
src/videocapture/videocapture.egg-info/
src/videocapture/videocapture/decklink/decklink-capture
